<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>NoRd <small>Know RD</small></h1>
  <p class="lead">
    <img src="images/rhc.png" alt="I'm Yeoman"><br>
    Your central source of Restore Direct knowledge, reference and training materials!
  </p>
</div>

<div class="row marketing">
  <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div>
</div>

<div class="footer">
  <div class="col-lg-4">
    <p>&copy; 2014 Restore Health.</p>
  </div>

  <div class="col-lg-4">
    <p>&nbsp;</p>
  </div>

  <div class="col-lg-4">
    <h5>NOTICE:</h5>
    <p>This documentation is provided solely for the use by Restore Health employees, contractors and assigns. All information contained herein is the property of Restore Health, and is to be treated as confidential.</p>
  </div>
</div>
